.container{
    width: 500px;
    height: 450px;
    background-color: rgb(197, 216, 218);
    margin-left: 30%;
    margin-top: 8%;
    border-radius: 10px;
    box-shadow:1px 1.5px 1px 1px;
}
.move{
    margin-left: 17%;
    padding-top: 40px;
}
.one{
    padding: 15px;
}

.btn{
    background-color: rgb(59, 59, 165);
    width: 90px;
    border-radius: 10px;
    color: rgb(218, 222, 226);
    padding: 10px;
    font-weight: 600;
}
.box{
    width: 200px;
    padding: 10px;
}
h1{
    margin-left: 33%;
    color: rgb(59, 47, 47);
    font-style: italic;
    padding-top: 10px;
}
.btn:hover{
    background-color: rgb(8, 36, 107);
    color: rgb(243, 238, 238);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 200px;
    border: 1px solid #000;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #fff;
}

li button {
    background-color: rgb(8, 36, 107);
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background-color: #e53935;
}